# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (VERY IMPORTANT)
data/
*.csv
!backend/models/X_test.csv
!backend/models/y_test.csv
*.pkl

# React build
/build

# Environment
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store

# Python cache
.pytest_cache/